DATABASE_URL=
JWT_SECRET=
NEXT_PUBLIC_BLOCKFROST_API_KEY=
BLOCKFROST_API_KEY=
NEXT_PUBLIC_BLOCKFROST_NETWORK=mainnet
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
